            h1,
            h2,
            h3,
            h4,
            h5,
            h6,
            p,
            div,
            header,
            footer,
            aside,
            article,
            section,
            blockquote {
                margin: 0;
                padding: 0
            }
            
            .container-fluid {
                width: 100%;
            }
            
            .carousel-inner img {
                width: 100%
            }
            
            h1 {
                font-size: 46px;
            }
            
            p {
                font-size: 18px;
            }
            
            .navbar {
                background-color: rgb(46, 46, 46);
                font-family: fantasy;
            }
            
            .navbar-inverse {
                background-color: navy
            }
            
            .navbar .navbar-brand {
                padding: 10px;
            }
            
            .navbar-collapse {}
            
            .navbar-nav>li {
                background-color: rgb(46, 46, 46);
            }
            
            .navbar-nav>li a:link {
                color: white;
            }
            
            .navbar #index {
                background-color: black;
            }
            
            .navbar #download {
                background-color: black;
                color: white;
                border: 2px solid white;
            }
            /*看板*/
            
            .jumbotron {
                margin: 0px;
                padding: 0px;
                border: 0px;
                border-radius: 0px;
                background-image: url(images/jumbotron-2000x1252-54.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                color: white;
                text-align: center;
                display: flex;
                align-items: center;
                height: 100vh;
            }
            
            .jumbotron h4 {
                font-family: cursive;
            }
            /*jumbotron按鈕*/
            
            .btn-primary {
                background-color: #c3802b;
                font-family: monospace;
                font-weight: 900;
            }
            
            .header .btn-primary {
                background-color: #d69020;
                border: 3px solid #d69020;
            }
            
            .header #mac {
                background-color: rgba(0, 0, 0, 0);
                border: 3px solid white;
            }
            /*三個圖示Cards*/
            
            .cards .container-fluid {
                width: %;
                background-color: #e8e8e8;
            }
            
            .cards .thumbnail {
                padding: 30px;
                background-color: #e8e8e8;
                text-align: center;
                border: 0px
            }
            
            .cards .fa {
                color: #91b6b7;
                font-size: 150px;
                display: block;
                text-align: center;
                padding: 30px
            }
            
            .cards h3 {
                padding: 10px;
            }
            /*HOW MOBIRISE WORKS*/
            
            .section1 {
                text-align: center;
                background-color: #cbc8c8;
                color: white;
                padding-top: 80px;
                padding-bottom: 40px;
                padding-left: 30px;
                padding-right: 30px;
            }
            
            .section1 .thumbnail {
                border: 0px;
                padding: 0px;
            }
            /*DROP-DEAD EASY WEBSITE MAKER*/
            
            .section2 {
                background-color: #ededed;
                padding: 30px;
                padding-top: 150px;
                padding-bottom: 150px;
            }
            
            .section2 #text {
                padding-left: 80px;
                padding-right: 80px;
            }
            
            .section2 #windows {
                background-color: #91b6b7;
                border: 0px;
                margin-right: 10px;
            }
            
            .section2 #mac {
                background-color: white;
                padding-left: 30px;
                padding-right: 30px;
                color: #4a4747;
                border: 0px;
            }
            /*PLEASE SHARE IT*/
            
            .share {
                display: block;
                text-align: center;
                padding: 30px;
                padding-top: 100px;
                padding-bottom: 100px;
                color: rgb(78, 78, 68)
            }
            
            .share .fa {
                font-size: 30px;
                color: rgb(78, 78, 68);
            }
            
            .share .btn {
                background-color: rgba(255, 255, 255, 0);
                border: 3px solid #b59054;
                border-radius: 100px;
                margin: 5px;
                padding: 20px;
                width: 80px;
            }
            /*BEAUTIFUL MOBILE WEBSITES*/
            
            .section3 {
                padding: 80px;
                background-image: url(images/main2-2000x1333-33.jpg);
                background-size: cover;
            }
            
            .section3 #windows {
                background-color: #91b6b7;
                border: 0px;
                margin-right: 10px;
            }
            
            .section3 #mac {
                background-color: rgb(78, 78, 68);
                border: 0px solid white;
                color: white;
                padding-left: 20px;
                padding-right: 20px;
            }
            
            .section3 .thumbnail {
                padding: 0px;
                border: 0px;
                border-radius: 0px;
            }
            /*四個圖示Card2*/
            
            .cards #card2 {
                width: %;
                background-color: white;
            }
            
            #card2 .thumbnail {
                padding: 30px;
                background-color: white;
                text-align: center;
                border: 0px
            }
            
            .cards #card3 {
                background-color: white
            }
            
            #card3 .thumbnail {
                height: 450px;
                padding: 20px;
                margin-bottom: 10px;
                background-color: white;
                text-align: center;
            }
            /*WHAT EXPERTS SAY ABOUT MOBIRISE人物*/
            
            .section4 {
                background-image: url(images/landscape2.jpg);
                background-size: cover;
                padding-top: 90px;
                padding-bottom: 150px;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
                color: white
            }
            
            .section4 .thumbnail {
                margin: 50px;
                height: 350px;
                padding-top: 30px;
                background-color: rgb(247, 247, 247);
                border: 0px;
                border-radius: 0px;
                font-size: 20px;
                color: rgb(78, 78, 68);
                padding: 50px;
                font-family: serif
            }
            
            .section4 .experts {
                border-radius: 100px;
                position: absolute;
                right: 50px;
                left: 50px;
                bottom: 60px;
                width: 100px;
            }
            
            .section4 .name {
                color: black;
                padding: 10px;
            }
            
            .section4 .name h4 {
                color: #d6f0f2;
                font-family: serif;
            }
            /*WHAT OUR FANTASTIC USERS SAY*/
            
            .section5 {
                background-size: cover;
                padding-top: 40px;
                padding-bottom: px;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
                color: black;
            }
            
            .section5 .thumbnail {
                margin: 0 px;
                padding-top: 0px;
                background-color: rgb(247, 247, 247);
                border: 0px;
                border-radius: 0px;
                font-size: 20px;
                color: rgb(78, 78, 68);
                padding: 50px;
                font-family: serif
            }
            
            .section5 h4 {
                padding: 10px;
                padding-bottom: 20px;
                margin: 10px;
            }
            
            .section5 .caption {
                padding: 0px;
                text-align: left
            }
            /*FREE DOWNLOAD*/
            
            .download {
                display: block;
                text-align: center;
                padding: 20px;
                padding-top: 80px;
                padding-bottom: 80px;
                background-color: rgb(242, 242, 242);
                color: rgb(34, 34, 31);
            }
            
            .download h1 {
                font-size: 46px
            }
            
            .download p {
                font-size: 18px;
                padding: 20px;
            }
            
            .download .btn {
                margin: 3px;
                background-color: #c0d7d8;
                padding: 10px;
                padding-left: 30px;
                padding-right: 30px;
                border: 0px;
            }
            /*NEWS / FOLLOW US*/
            
            .news {
                display: block;
                text-align: center;
                padding: 70px;
                background-image: url(images/v5-cropped-2000x752-77.jpg);
                background-size: cover;
                color: white;
            }
            
            .news h1 {
                font-size: 46px
            }
            
            .news p {
                font-size: 18px;
                padding: 20px;
            }
            
            .news .btn {
                background-color: rgba(255, 255, 255, 0);
                border: 3px solid #e5a53e;
                border-radius: 100px;
                padding: 20px;
                margin: 5px;
                width: 80px;
            }
            
            .news .fa {
                font-size: 30px;
                color: white;
            }
            /*CONTACT*/
            
            .contact {
                padding: 30px;
                background-color: rgb(46, 46, 46);
                color: rgb(142, 137, 137)
            }
            
            .contact #logo {
                width: 100px;
            }
            
            .contact ul {
                list-style-type: none;
                padding-left: 16px;
            }
            
            .contact li {
                border-bottom: 1px dotted white;
                border-bottom-color: white;
                padding: 7px;
            }
            
            .contact .link {
                list-style-type: square;
                color: #d6a25c
            }
            
            .contact .link a {
                color: white
            }
            
            .contact .fa {
                color: white;
                font-size: 25px;
            }
            
            .contact #email {
                color: #c67b31;
                padding-left: 10px;
                font-size: 16px;
            }
            
            .contact #map {
                color: white;
                padding-left: 10px;
            }
            
            footer {
                background-color: rgb(50, 50, 50);
                padding: 20px;
                text-align: center;
                color: #bfbfbf
            }
            
            footer a {
                color: #edb069
            }
